$primary-color:#9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$color-tex-primary: #000;
$color-text-secondary: #FFF;
$color-btn: linear-gradient(to bottom right, $secondary-color, $primary-color);
$clr-input:linear-gradient(to bottom, #e2e2e2, #f3f3f3);
$clr-fonct:linear-gradient(to top, #f3f2f2, #fff);
$background-clr: #e2e2e2;
$icon-clr:  rgb(102, 100, 100);
$icon-clr-store: $primary-color;
$hearts: linear-gradient(to bottom, $primary-color, $secondary-color,$primary-color);

$ft-fam: Shrikhand,sans-serif;
$ft-fam-h1: Roboto,sans-serif;

$brd-radius:2px 2px 2px 1px rgb(125, 121, 121);
$clr-transform: rgba(147,86,220,0.2);

$loader: linear-gradient(to bottom right, #9356DC, #FF79DA,#99E2D0);

